$fontWeight: 500;
$inputErrorColor: hsl(0, 100%, 66%);
$colorWhite: hsl(0, 0%, 100%);
$colorLightGray: hsl(270, 3%, 87%);
$colorDarkGray: hsl(279, 6%, 55%);
$colorDarkViolet: hsl(278, 68%, 11%);
$inputSuccessColor: hsl(249, 99%, 64%);
$mobileBreakpoint: 900px;